{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center">Register</h1>

    {{ form_errors(registrationForm) }}

    <div class="d-flex justify-content-center w-25 mx-auto align-items-center text-center bg-primary py-5 mx-5 rounded">
        {{ form_start(registrationForm) }}
            <div>
                {{ form_row(registrationForm.email, {
                    label: 'Email',
                    attr: {"class": "mb-5 d-flex w-100 text-success",
                        placeholder: 'aa@aa.fr'
                    },
                }) }}
            </div>    
            
            {{ form_row(registrationForm.userName,  {"attr" : { "class": "mb-5 d-flex w-100 text-success"}}) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                attr: {
                    "class": "mb-5 d-flex w-100 text-success"
                },
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-success">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
